h1{
    width:200px;
    height:100px;
    color:red;
}
div{
    width: 500px;
    height:100px;
    background:yellow;
    p{
        width:100px;
        height:200px;
        background:green;
    }
}